@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /*Color*/
    --gold-crayola: rgb(228, 197, 144);
    --quick-silver: hsla(0, 0%, 65%, 1);
    --davys-grey: hsla(30, 3%, 34%, 1);
    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --smoky-black-2: hsla(30, 8%, 5%, 1);
    --smoky-black-3: hsla(0, 3%, 7%, 1);
    --eerie-black-1: hsla(210, 4%, 9%, 1);
    --eerie-black-2: hsla(210, 4%, 11%, 1);
    --eerie-black-3: hsla(180, 2%, 8%, 1);
    --eerie-black-4: hsla(0, 0%, 13%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --white-alpha-20: hsla(0, 0%, 100%, 0.2);
    --white-alpha-10: hsla(0, 0%, 100%, 0.1);
    --black: hsla(0, 0%, 0%, 1);
    --black-alpha-80: hsla(0, 0%, 0%, 0.8);
    --black-alpha-15: hsla(0, 0%, 0%, 0.15);

    --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--smoky-black-3) 33.33% 50%,  transparent 66.66% 75%);
    --gradient-1: linear-gradient(to top,hsla(0, 0%, 0%, 0.9),hsla(0, 0%, 0%, 0.7),transparent);

}
body{
    color: white;
    font-family: DM Sans, sans-serif;
}

li{
 list-style: none;
}
.font_1{
    font-family: 'Playfair Display';
    font-size: 3em ;
}
.font_2{
    font-family: 'Nunito';
}
a,
img,
data,
span,
button,
select,
ion-icon,
textarea {
    display: block;
}

a{
    color: inherit;
    text-decoration: none;
}
/* GENERAL */
 input,
 button,
 select,
 textera{
     background: none;
     border: none;
     font: inherit;
 }
 section{
    height: 100vh;
    width: 100%;
    position: relative;
 }
 /*PRELOADER*/
.preloader{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 3s;
    transition-delay: 5s;
    opacity: 1;
 }
 .preloader.hidden{
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
}
svg{
 width: 30rem;
 font-weight: 700;
}
svg text{
 font-size: 5rem;
 stroke-width: 2;
 letter-spacing: -6px;
}
.text-body{
 stroke: var(--gold-crayola);
 stroke-dasharray: 350px 20px;
 animation:  4s infinite alternate animate-stroke;
}
.text-body.dot{
 fill: white;
 stroke: var(--gold-crayola);
 animation: 4s infinite alternate animate-dot;
}
@keyframes animate-stroke{
  0%{
     fill: transparent;
     stroke: var(--gold-crayola);
     stroke-width: 3;
     stroke-dashoffset: 25%;
     stroke-dasharray: 0 32%;
  }
 50%{
     fill: transparent;
     stroke: var(--gold-crayola);
     stroke-width: 3;
  }
 80%,100%{
     fill: var(--gold-crayola);
     stroke:transparent ;
     stroke-width: 3;
     stroke-dashoffset: -25%;
     stroke-dasharray: 32% 0;
  }
}
@keyframes animate-dot {
 0%,
 60%{
     opacity: 0;
 }

 100%{
      opacity: 1;
 }
 
}
/*  HEADER */
 header{
     display: none;
     position: fixed;
     z-index: 10;
     background-color: var(--black);
     width: 100%;
 }
 .header_container{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
 }
.header_container div ,.menu_list{
    display: flex; 
    width: fit-content;
    flex-direction: row;
    align-items: center;
}
.header_container div p,.header_container div a{
    display: flex; 
    flex-direction: row;
    align-items: center;
}
.header_container div p ion-icon,.header_container div a ion-icon{
    margin-right: 5px;
    font-weight: bold;
}
.separator{
    padding: 3px;
    border: 2px solid var(--gold-crayola);
    margin: 10px;
    animation: 50000s ease infinite  tour;
}
@keyframes tour {
    100%{
        transform: rotate(10000turn);
    }
}
.menu_list{
    gap: 15px;

}
.menu_list li{
    font-size: 16px;
    font-weight: bold;
    position: relative;
}
.menu_list li::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 5px;
    border-block: 1px solid var(--gold-crayola);
    transform: scaleX(0.2);
    opacity: 0;
    transition: var(--transition-2); 
}
.menu_list li:is(:hover)::after{
    transform: scaleX(1);
    opacity: 1;
}
.menu_list li:nth-child(1)::after{
    transform: scaleX(1);
    opacity: 1;
}
.menu_list li:nth-child(6)::after{
    opacity: 0;
}
.menu_list li:nth-last-child(1){
      border: 1px solid var(--gold-crayola);
      position: relative;
      padding: 10px 30px;
      background-color: var(--gold-crayola);
      color: var(--black);
      transition: 1.5s;
}
.text_2{
      position: absolute;
      top: 50px;
      color: white;
      visibility: hidden;
      opacity: 0;
      transition: 1s;
}
.menu_list li:nth-last-child(1):hover{
      background-color: var(--black);
      border: 2px solid var(--gold-crayola);
}
.menu_list li:nth-last-child(1):hover .text_2{
       top: 10px;
       visibility: visible;
       opacity: 1;
}
.menu_list li:nth-last-child(1):hover .text_1{
    visibility: hidden;
}
/* MAIN  */

/*  SLIDER */
section:nth-child(1){
    position: relative;
}
.overlay{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
}
.slider{
    overflow: hidden;
}
.slider,.slide{
    position: relative;
    width: 100%;
    height: 100%;
}
.slide{
    display: none;
}
.slide.active{
    display: block;
}
.slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.slide.active img{
    animation: zoom 6s;
}
@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.20);
    }
    
}
.slide_text{
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    transform: translateY(40%);
    opacity: 0;
    backdrop-filter: blur(5px);
}
.slide.active .slide_text{
    animation: reveal 2s ease-in;
    backdrop-filter: blur(0px); 
    transform: translateY(0%);
    opacity: 1;
}
@keyframes reveal{
    0%{
        transform: translateY(40%);
        opacity: 0;
        backdrop-filter: blur(5px); 
    }
    100%{
        backdrop-filter: blur(0px); 
        transform: translateY(0%);
        opacity: 1;
    }
}
.slide_text p{
    font-size: 4.5em;
    width: 80%;
    text-align: center;
}
section:nth-child(1) button{
    position: absolute;
    top: 50%;
    z-index: 5;
    font-size: 3em;
    padding: 5px;
    border: 2px solid var(--gold-crayola);
    margin: 0 25px;
    transform: rotate(45deg);
    transition-duration: 2s;
}
.next{
    right: 0;
}
section:nth-child(1) button ion-icon{
    transform: rotate(-45deg);
    color: var(--gold-crayola);
}
section:nth-child(1) button:hover{
    background-color: var(--gold-crayola);
    color: white;
}
section:nth-child(1) button:hover ion-icon{
    color: white;
}
/* section_2 */
section:nth-child(2){
    overflow: hidden;
    position: relative;
}
.background_filter{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(to bottom,hsla(0, 0%, 0%, 0.839),hsla(0, 0%, 0%, 0.702),hsl(0, 0%, 0%));
}
.background_image{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}
.background_image img{
    width: 100%;
    height: 100%;
}
.container{
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.title{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.img_container , .menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center; 
    gap: 50px;
}
.container_img{
  width: 20%;
  height: 75%;
  border-radius: 10px;
}
/*Section 3*/
.menu_img{
    backdrop-filter: blur(10px);
}
/*Section 4*/
section:nth-child(4){
    background-color: hsl(51, 18%, 8%);
 } 
 .menu_box{
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 25px;
 }
 .menu_container{
    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content: space-between;
    gap: 10px;
 }
 .description, .price{
    font-size: 1.5em;
 }
 .plat_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
 }
 .menu_box_img{
    min-width: 80px;
    height: 80px;
    border-radius: 5px;
 }
 .vertical_line{
    height: 80%;
    width: 5px;
    border-left: 1px solid white;
 }
 .description{
   width:fit-content
 }
/*footer*/
footer{
    display: flex;
    flex-direction: row;
    background-color: rgb(52, 52, 52);
}